    .signupBody {
        color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .imageDiv {
        height: 30vh;
        width: 90vw;
        background-image: url(../../images/drew-beamer-Vc1pJfvoQvY-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-self: center;
    }

    .formHeaderSwitch {
        flex-direction: column;
        display: flex;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .signupSection {
        display: flex;
        flex-direction: column;
    }

    .formDiv {

    }

    .joinHeader{
        margin: 12px;
    }

    .form {
        flex-direction: column;
    }

    textarea {
        background-color: white;
        width: 70%;
    }

    input {
        background-color: white;
        width: 70%;
    }

    .submitButton{
        background-color: transparent;
        width: 100px;
        border-radius: 10px;
        color: white;
        margin-bottom: 12px;
        border: 2px solid white;
    }

    .signupButton {
        width: 30%;
    }


/* -------------------- Desktop View -------------------- */
@media only screen and (min-width: 768px) {

    .signupBody {
        color: white;
        position: relative;
    }
    
    .imageDiv {
        height: 30vh;
        width: 30vw;
        margin: 0;
    }

    .formHeaderSwitch {
        flex-direction: row;
        justify-content: center;
    }
    
    .signupSection {
        display: flex;
        flex-direction: column;
    }
    
    .formDiv {
        width: 30vw;
        align-self: center;
        margin: 0;
    }
    
    .form {
        flex-direction: column;
    }

    textarea {
        width: 80%;
    }

    input {
        width: 80%;
    }


    

}