    .signupBody {
        color: white;
    }


    .signupSection {
        display: flex;
        flex-direction: column;
    }

    .formDiv {

    }

    .joinHeader{
        margin: 12px;
    }

    .form {
        flex-direction: column;
    }

    textarea {
        background-color: white;
        width: 70%;
    }

    input {
        background-color: white;
        width: 70%;
    }

    .submitButton{
        background-color: transparent;
        width: 100px;
        border-radius: 10px;
        color: white;
        margin-bottom: 12px;
        border: 2px solid white;
    }



/* -------------------- Desktop View -------------------- */
@media only screen and (min-width: 768px) {

    .signupBody {
        color: white;
    }
    
    
    .signupSection {
        display: flex;
        flex-direction: column;
    }
    
    .formDiv {
        width: 60vw;
        align-self: center;
    }
    
    .form {
        flex-direction: column;
    }

    textarea {
        width: 50%;
    }

    input {
        width: 50%;
    }


    

}