/* ---------- Footer Section ---------- */
.footerSection {
    color:white;
    display: flex;
    justify-content: center;
    bottom: 1rem;
    border-top: white solid 1px;
    width: 100vw;
}




/* -------------------- Desktop View -------------------- */
@media only screen and (min-width: 768px) {

    .footerSection { 
        position: absolute;
    }

}