* {
    margin: 0px;
    background-color: #12191f;
}



.homeBody {
    width: 100vw;
}




/* ----------Navbar---------- */

.NavbarContainer{
    background-color: #12191f;
}

.container{
    background-color: #12191f;
}

/* ---------- Header Section ---------- */
.headerSection {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/headerImage1.jpg");
    background-size: cover;
    color:white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.headerSection h1{
    background-color: transparent;
    font-size: 2em;
}

.paypalButton{
    background-color: white;
    height: 40px;
    align-self: center;
    margin: 12px;
    border-radius: 10px;;
    

}





/* ---------- About Section ---------- */
.aboutSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.aboutSection h3{
    margin: 16px;
}

.aboutSection div {
    width: 90%;
    align-self: center;
    color:white;
}

.learnMore{
    margin: 16px;
    background-color: white;
    height: 30px;
    align-self: flex-end;
    border-radius: 10px;;
}


/* ---------- MT4 Section ---------- */
.mt4Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.mt4Section h3{
    margin-top: 16px;
}

.mt4Section div {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin:16px;
}

.video-responsive {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* ---------- Disclaimer Section ---------- */
.disclaimerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.disclaimerSection h2{
    color: red;
    margin-top: 16px;
}
.disclaimerSection p{
    font-size: .80em;
}

.disclaimerSection div {
    width: 90%;
    align-self: center;
    color:white;
    margin:16px;
}